@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-poppins: 'Poppins', sans-serif;

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;

  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;

  --clr-very-dark-blue: hsl(234, 12%, 34%);
  --clr-grayish-blue: hsl(229, 6%, 66%);
  --clr-very-light-gray: hsl(0, 0%, 98%);

  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: var(--fs-14);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-regular);
  color: var(--clr-very-dark-blue);
  background-color: var(--clr-very-light-gray);
  text-align: center;
  line-height: 1.8;
}

img {
  max-width: 100%;
}

/* Typography */
.title {
  font-size: var(--fs-24);
  font-weight: var(--fw-extra-light);
}

.subtitle {
  font-size: var(--fs-24);
  font-weight: var(--fw-semi-bold);
}

.text {
  color: var(--clr-grayish-blue);
}

.card-area {
  text-align: left;
}

.title-card {
  font-size: var(--fs-20);
  font-weight: var(--fw-semi-bold);
}

.card-text {
  font-size: var(--fs-14);
  color: var(--clr-grayish-blue);
}

/* Utility styles */

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin: 4em auto 8rem;
  padding: 0 2em;
}

/* SECTIONS */
.header-area {
  margin-bottom: 3em;
}

.header-title {
  margin-bottom: 1.5em;
}

.card-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  margin-top: 2em;
  padding: 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid;
  border-radius: 0.4em;
  box-shadow: 0px 10px 20px 5px hsla(202, 26%, 58%, 0.2);
}

.card__supervisor {
  border-color: var(--clr-cyan);
}
.card__team-builder {
  border-color: var(--clr-red);
}
.card__calculator {
  border-color: var(--clr-blue);
}
.card__karma {
  border-color: var(--clr-orange);
}

.card-icon {
  margin-top: 2.5em;
  text-align: right;
}

/* Footer */

.footer {
  padding-bottom: 0.5em;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

@media (min-width: 1050px) {
  .container {
    max-width: 1200px;
  }

  .main {
    padding: 0;
  }

  .header-area {
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
  }

  .card-area {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .card {
    width: 315px;
  }

  .title-card {
    font-size: var(--fs-18);
  }

  .card-text {
    font-size: var(--fs-12);
  }
}
